<hr>

<h3>Exercise Words</h3>
<div>
    <table style="width: 50%">
        <tr>
            <th>Word</th>
            <th>Translate</th>
        </tr>
        <tr *ngFor="let w of words; let i = index" [attr.data-index]="i">
            <th>
                <span>{{w.translate}}</span>
            </th>	
            <th>
                <input type="text" [(ngModel)]="checkWord[i]">
            </th>
            <th>
                <button (click)="helpWord(i)">Help</button>
            </th>
        </tr>
    </table>
</div>
<button (click)="checkAll()">Check</button>

<!-- Statics -->
<div *ngIf="showStatics">
	<span>Incorrect: {{incorrect}}</span>
	<br/>
	<span>Correct: {{correct}}</span>
	<br/>
	<br/>
	<span *ngFor="let h of historyStatics">History: {{h}}<br/></span>
	<span *ngFor="let w of wordsFailed">Errors:: {{w}}<br/></span>
</div>