<hr>

<h3>Exercise Words</h3>
<div class="container-fluid" style="background-color: lightgoldenrodyellow">
    <div class="row">
        <div class="col-sm-4" style="background-color: lightcoral">
            <table style="width: 50%">
                <tr>
                    <th>Word</th>
                    <th>Translate</th>
                </tr>
                <tr *ngFor="let w of words; let i = index" [attr.data-index]="i">
                    <th>
                        <span>{{w.translate}}</span>
                    </th>	
                    <th>
                        <input type="text" [(ngModel)]="checkWord[i]"
                        [ngStyle]="{'border-color': colorCheckList[i]}">
                    </th>
                    <th>
                        <button (click)="helpWord(i)" class="btn btn-primary">Help</button>
                    </th>
                </tr>
            </table>
            <button (click)="checkAll()">Check</button>
        </div>
    
        <!-- Statics -->
        <!-- *ngIf="showStatics" -->
        <div class="col-sm-4" style="background-color: lightgreen;">
            <h3>Statics</h3>
            <span>Incorrect: {{incorrect}}</span>
            <br/>
            <span>Correct: {{correct}}</span>
            <br/>
            <br/>
            <span *ngFor="let h of historyStatics">History: {{h}}<br/></span>
            <span *ngFor="let w of wordsFailed">Errors:: {{w}}<br/></span>
        </div>
    
        <div class="col-sm-4" style="padding-left: 50px;; background-color: lightseagreen">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" [(ngModel)]="findWord" name="findWord" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)=searchWord(findWord)>Search</button>            
            </form>
            <div style="margin-top: 20px;">
                <span style="padding-right: 33px;">Name</span>
                <input class="mr-sm-2" type="text" [(ngModel)]="name" name="name">
            </div>
            <div style="margin-top: 10px;">
                <span style="padding-right: 10px;">Translate</span>
                <input class="mr-sm-2" type="text" [(ngModel)]="translate" name="translate">
            </div>
            <span *ngIf="foundWord">This word don't exist.</span>
            <i class="material-icons" style="font-size:18px;color:red">error</i>xD
    
            <h5 style="color: black; height: 30px; padding-top: 20px;">Add Word</h5>
            <div style="margin-top: 20px;">
                <span style="padding-right: 33px;">Name</span>
                <input class="mr-sm-2" type="text" [(ngModel)]="addName" name="addName">
            </div>
            <div style="margin-top: 10px;">
                <span style="padding-right: 10px;">Translate</span>
                <input class="mr-sm-2" type="text" [(ngModel)]="addTranslate" name="addTranslate">
            </div>
            <span>The word was add success.</span>
            <div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="addWord()" aria-placeholder="Add" aria-label="Add">Add</button>
            </div>
        </div>
    </div>
</div>
