mat-card{
  max-width: 960px;
  margin: 0 auto;
}

mat-toolbar {
	background-color: yellow !important;
	h1 {
		font-size: 30px; 
		color: black;
		font-family: cursive !important;
		font-weight: bold;
	}
}
/*
#content{
	#nav {
		a {
			color: #4768c1;
			margin: 20px 10px;
			font-size: 20px;
		}
	}
}*/