<!-- MENU -->
<mat-toolbar color="primary">
	<!-- #FFC005 -->
	<!-- <h2>App Component</h2> -->
	<h1>{{title}}</h1>
	<!-- <button mat-button routerLink="login">Login</button>
  	<button mat-button (click)="onLogout()">Logout</button> -->
</mat-toolbar>

<div id="content" class="col-lg-10 col-lg-offset-1">
	<nav id="nav">
		<a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
		<a [routerLink]="['/words']" [routerLinkActive]="['activado']">Words</a>
		<a [routerLink]="['/verbs']" [routerLinkActive]="['activado']">Verbs</a>
		<a [routerLink]="['/exercises']" [routerLinkActive]="['activado']">Exercises</a>
	</nav>

	<section id="main">
		<router-outlet></router-outlet> 
	</section>

	<footer id="footer" class="col-lg-12">
		<span> Learning English </span>
	</footer>
	<!-- INJECT THE HOME COMPONENT
	<mat-card>
	  <app-header></app-header>
	  <app-home></app-home>
	  <app-words></app-words>
	  <app-verbs></app-verbs>
	</mat-card>
	-->
</div>


