<!-- MENU -->
<mat-toolbar color="primary">
	<h2>App Component</h2>
	----
	<h3>{{title}}</h3>
	<!-- <button mat-button routerLink="login">Login</button>
  	<button mat-button (click)="onLogout()">Logout</button> -->
</mat-toolbar>

<hr>
<nav>
	<a [routerLink]="['/home']">Home</a>
	<a [routerLink]="['/words']">Words</a>
	<a [routerLink]="['/verbs']">Verbs</a>
</nav>
<hr>

<!-- INJECT THE HOME COMPONENT
<mat-card>
  <app-header></app-header>
  <app-home></app-home>
  <app-words></app-words>
  <app-verbs></app-verbs>
</mat-card>
-->



<router-outlet></router-outlet> 