<hr>

<h2>Verbs Component</h2>
<h3>Regular Verbs</h3>
<!--
<ul>
    <li>
        <span>Infinitive</span>
        <span>Past Simple</span>
        <span>Past Participle</span>
        <span>Translate</span>
    </li>
   <li *ngFor="let v of regular_verbs; let i = index" [attr.data-index]="i">
        <span>{{v.infinitive}}</span>
        <input type="text" [(ngModel)]="v.past_simple">
        <input type="text" [(ngModel)]="v.past_participle">
        <input type="text" [(ngModel)]="v.translate">
        <button (ngClick)="helpRegularVerb(i)">Help</button>
   </li> 
   <button (ngClick)="correctRegularVerbs()">Correct</button>
</ul>
-->
<table style="width: 50%">
    <tr>
      <th>Infinitive</th>
      <th>Past Simple</th> 
      <th>Past Participle</th>
      <th>Translate</th>
    </tr>
     <tr *ngFor="let v of verbs_examples; let i = index" [attr.data-index]="i">
      <th><span>{{v.infinitive}}</span></th>
      <th><input type="text" [(ngModel)]="v.past_simple"></th> 
      <th><input type="text" [(ngModel)]="v.past_participle"></th>
      <th><input type="text" [(ngModel)]="v.translate"></th>
      <th><button (ngClick)="helpRegularVerb(i)">Help</button></th>
    </tr>
    <button (ngClick)="correctRegularVerbs()">Correct</button>
</table>


<h2>Irregular Verbs</h2>
<ul>
    <li>
        <span>Infinitive</span>
        <span>Past Simple</span>
        <span>Past Participle</span>
        <span>Translate</span>
    </li>
   <li *ngFor="let v of irregular_verbs; let i = index" [attr.data-index]="i">
        <!-- <input type="text" [(ngModel)]="v.infinitive"> -->
        <span>{{v.infinitive}}</span>
        <input type="text" [(ngModel)]="v.past_simple">
        <input type="text" [(ngModel)]="v.past_participle">
        <input type="text" [(ngModel)]="v.translate">
        <button (ngClick)="helpIrregularVerb(i)">Help</button>
   </li> 
   <button (ngClick)="correctIrregularVerbs()">Correct</button>
</ul>